.App-container {
  display: grid;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ul-soc {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 979px) {
  .title {
    font-size: 25px;
  }
  .LeftColumn {
    width: 150px;
    padding: 10px;
  }
  .grid {
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .App-container {
    display: block;
  }

  .LeftColumn {
    padding: 5px;
    padding-left: 10px;
    position: absolute;
    z-index: 3;
    opacity: 0.7;
    display: none;
  }

  .title {
    font-size: 25px;
  }

  .fab {
    font-size: 20px;
  }
}
