.li-soc {
    list-style-type: none;
    margin: 10px;
}

.fab, .fas {
    size: 30px;
    color: #000000;
}

.fab:hover, .fas:hover {
    cursor: pointer;
    filter: opacity(.5);
}

.fab::before {
    width: 150px;
}