.window {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-big {
    height: 90vh;
}

.close {
    z-index: 9999;
    position: absolute;
    top: 5px;
    font-variant: all-petite-caps;
}

.close:hover, .img-big {
    cursor: pointer;
    font-style: unset;
    font-weight: bold;
}
.left {
    left: 0;
}

.right {
    right: 0;
}
.control {
    width: 200px;
    display: flex;
    position: absolute;
    top: 0;
    
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0px;
}

.control:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    align-items: center;
    color: rgba(0, 0, 0, 0.15);
    font-size: 30px;
}

@media (max-width: 480px) {

    .control {
        width: 50%;
    }

    .control:hover {
        cursor: pointer;
        align-items: center;
        font-size: 0px;
        background-color: transparent;
        color: transparent;


    }

    .img-big {
        margin-top: 40px;
        width: 100%;
        height: auto;
    }
}