.window {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-big {
    height: 90vh;
}

.close {
    position: absolute;
    top: 5px;
    font-variant: all-petite-caps;
}

.close:hover, .img-big {
    cursor: pointer;
    font-style: unset;
    font-weight: bold;
}

.back {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0px;
}

.back:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    align-items: center;
    color: rgba(0, 0, 0, 0.15);
    font-size: 30px;
}

@media (max-width: 480px) {

    .back {
        width: 150px;
    }

    .img-big {
        margin-top: 40px;
        width: 100%;
        height: auto;
    }
}