.li-soc {
    list-style-type: none;
    margin: 10px;
}

.fab, .fas, .far {
    size: 30px;
    color: #000000;
}

.fab:hover, .fas:hover , .far:hover {
    cursor: pointer;
    filter: opacity(.5);
}

.fab::before, .fas::before, .far::before {
    width: 150px;
}

@media (max-width: 480px) {
    .li-soc {
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
}